/* modals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ============= NineTile =========== */
.pixeled-panel {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    width: 100%; /* Задайте ширину панели */
    height: 100%; /* Задайте высоту панели */
    position: relative;
    /* pointer-events:; */
    --panel-resolution: 25px;
}

.nine-tile-corner {
    width: var(--panel-resolution);
    height: var(--panel-resolution);
}

.nine-tile-edge {
    background-size: 100% 100% !important;
}
.nine-tile-corner,
.nine-tile-center {
    background-size: cover !important;
}

.top-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.top {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.top-right {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.nine-tile-center {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.tile-right {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.bottom-left {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.bottom {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.bottom-right {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

/* ============= Overlay =========== */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.overlay.active {
    display: block;
}


  /* ============= Modals =========== */

.modal {
    position: absolute;
    top: 100px;
    bottom: 135px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: auto;
    background: transparent;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.modal-header {
    position: relative; display: inline-flex; flex-direction: row; align-content: center; justify-content: space-between;
    height: 50px;
    background: url('/images/modals/header.png') no-repeat center center;
    background-size: 100% 100%;
    margin-bottom: -2px;
    padding-left: 6%;
    padding-right: 7%;
    font-size: 31px;
    z-index: 3;
    color: white;
    /* Цвет текста */
    letter-spacing: 1px;
    text-shadow:
        -3px -3px 0px #511B0E,
        3px -3px 0px #511B0E,
        -3px 3px 0px #511B0E,
        3px 3px 0px #511B0E,
        0px 3px 0px #511B0E,
        3px 0px 0px #511B0E,
        0px -3px 0px #511B0E,
        -3px 0px 0px #511B0E,
        -2px -2px 0px #511B0E,
        2px -2px 0px #511B0E,
        -2px 2px 0px #511B0E,
        2px 2px 0px #511B0E,
        0px 2px 0px #511B0E,
        2px 0px 0px #511B0E,
        0px -2px 0px #511B0E,
        -2px 0px 0px #511B0E;
}

.modal-footer {
    height: 50px;
    background: url('/images/modals/footer.png') no-repeat center center;
    background-size: 100% 100%;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background: url('/images/modals/body.png') repeat-y;
    background-size: cover;
    overflow-y: scroll;
    background-attachment: local;
    position: relative;
    overscroll-behavior: none;
}

/* Дополнительно: Стилизация скролл-бара */
.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-track {
    background: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
    background: transparent;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.modalbig-top-panel {
    position: relative; 
    display: inline-flex; 
    flex-direction: column; 
    align-content: center; 
    justify-content: space-evenly;

    padding: 8%;
    top: 2%;
    left: 3%;
    width: 94%;
    height: 50%;
    background-image: url('/images/panels/profile/top.png');
    background-size: 100% 100%;
}
.modalbig-bottom-panel {
    position: relative; 
    display: inline-flex; 
    flex-direction: column; 
    align-content: center; 
    justify-content: space-evenly;
    
    margin-top: 5vh;
    padding: 8%;
    left: 3%;
    width: 94%;
    height: 40%;
    background-image: url('/images/panels/profile/bottom.png');
    background-size: 100% 100%;
}

.hidden {
    display: none;
}